<h2>Goods Receipts</h2>
<p><b>Purchase Number</b> {{ receipts[0].purchase_number }}</p> 
    <ng-container *ngFor="let receipt of receipts">
        <div class="card">
            <div class="container">
                <p><b>Receipt ID</b> {{ receipt.id }}</p> 
                <p><b>Received Date</b> {{ receipt.receipt_date }}</p> 
                <p><b>Note</b> 
                <input style="width: 50%;" type="text" value="{{ receipt.note }}"></p>
                <button (click)="selectOrder(receipt)">Save</button>
                <button (click)="selectOrder(receipt)">Select</button>
                <button >Manage Items</button>
            </div>
        </div>        
    </ng-container>
  <br>
  <div class="card">
    <div class="container">
      <form #fcr = "ngForm">
        <input type="hidden" name="order_id"  [(ngModel)] = "receipts[0].order_id">
        <input type="button"  (click)="createOrUpdateReceipt(fcr)" value="Add Receipt">
      </form>
    </div>
</div> 
  
  <br>
  <h2>Update Receipt</h2>
  <div class="card">
    <div class="container">
        <form #f = "ngForm">
            <label><b>Receipt ID</b> {{ selectedReceipt.id }}</label>
            <br>
            <label><b>Received Date </b></label>            
            <input style="width: 50%;" type="date" name="received_date" [(ngModel)] = "selectedReceipt.receipt_date">
            <input type="button"  value="Update">
          </form>
    </div>
  </div>


  