<h2>Goods Receipt Items</h2>
<p><b>Purchase Number</b> {{ items[0].purchase_number }}</p> 
<p><b>Receipt ID</b> {{ items[0].receipt_id }}</p> 
    <ng-container *ngFor="let item of items">
        <div class="card">
            <div class="container">
                <p><b>Item Name</b> {{ item.item_name }}</p> 
                <p><b>Inspection Result </b>
                <select name="inspResults" id="inspResultsID">
                    <option value="Approved">Approved</option>
                    <option value="Rejected">Rejected</option>                 
                </select></p> 
                <p><b>Inspection Note </b> <input style="width: 50%;" type="text" id="fname" name="fname" value="{{ item.inspection_note }}"></p> 
                <button >Save</button>
                <button >Delete</button>
            </div>
        </div>        
    </ng-container>


  