<h2>Orders</h2>
    <ng-container *ngFor="let order of orders">
        <div class="card">
            <div class="container">
                <p><b>Purchase Number</b> {{ order.purchase_number }}</p> 
                <p><b>Order Name</b> {{ order.name }}</p> 
                <p><b>Description</b> {{ order.description }}</p> 
                <p><b>Order Date</b> {{ order.order_date }}</p> 
                <p><b>Delivery Date</b> {{ order.received_date }}</p> 
                <p><b>Delivery Address</b> {{ order.delivery_address }}</p> 
                <p><b>Site Name</b> {{ order.site_name }}</p> 
                <p><b>Supplier Name</b> {{ order.supplier_name }}</p> 
                <button (click)="selectOrder(order)">Select</button>
                <button (click)="selectOrder(order)">Manage Receipts</button>
            </div>
        </div>        
    </ng-container>

  <br>
  <h2>Update Order</h2>
  <div class="card">
    <div class="container">
        <form #f = "ngForm">
            <label><b>Purchase Number</b> {{ selectedOrder.purchase_number }}</label>
            <br>
            <label><b>Order Name</b> {{ selectedOrder.purchase_number }}</label>
            <br>
            <label><b>Delivery Date </b></label>            
            <input style="width: 50%;" type="date" name="received_date" [(ngModel)] = "selectedOrder.received_date">
            <input type="button"  value="Update">
          </form>
    </div>
  </div>


  